@using EncuestasUABC.Models.ViewModels;
@using EncuestasUABC.Utilidades;
@using EncuestasUABC.Enumerador;
@model EncuestaViewModel
@{
    ViewData["Title"] = "Editar encuesta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input hidden asp-for="Id" />
<input hidden asp-for="IdCarrera" />
<style>
    .ui-sortable-helper {
        display: table;
        background: white;
    }
</style>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-xl-8">
                <a asp-action="Creadas" class="btn text-primary bmd-btn-fab float-left mr-xl-4" data-toggle="tooltip" data-placement="bottom" title="Regresar">
                    <i class="material-icons md-36">navigate_before</i>
                </a>
                <h1 class="mt-1 h1-responsive">@ViewData["Title"]</h1>
            </div>
            <div class="col-xl-4 text-center text-xl-right">
                <button class="btn btn-outline-primary bmd-btn-fab mr-2 " data-toggle="tooltip" data-placement="bottom" title="Asignar alumnos">
                    <i class="material-icons md-36">group</i>
                </button>
                <button class="btn btn-primary bmd-btn-fab btn_AgregarSeccion mr-2" data-toggle="tooltip" data-placement="bottom" title="Agregar sección">
                    <i class="material-icons md-36">library_add</i>
                </button>
                <a href="@Url.Action("VistaPrevia","Encuestas",new { id=Model.Id })"target="_blank" class="btn btn-info bmd-btn-fab float-right" data-toggle="tooltip" data-placement="bottom" title="Vista previa">
                    <i class="material-icons">visibility</i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row" style="display:none;" id="div_EditarInformacionEncuesta">
            <div class="col-12">
                <label class="bmd-label-static text-primary">Nombre de la encuesta</label>
                <input type="text" id="txt_NombreEncuesta" class="form-control form-lg" style="font-size:2.5rem" value="@Model.Nombre" autocomplete="off" />
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="bmd-label-static text-primary">Carrera</label>
                    <select class="form-control" id="select_Carrera">
                        <option value="">Seleccionar</option>
                    </select>
                </div>
            </div>
            <div class="col-12">
                <label class="bmd-label-static text-primary">Descripción</label>
                <textarea class="form-control editor" id="textArea_Descripcion">@Model.Descripcion</textarea>
            </div>
            <div class="col-12 form-inline d-flex justify-content-center">
                <span class="btn-group-sm m-1">
                    <button type="button" class="btn btn-success bmd-btn-fab" data-toggle="tooltip" data-placement="bottom" title="Guardar información" id="btn_GuardarInformacionEncuesta">
                        <i class="material-icons">check</i>
                    </button>
                </span>
                <span class="btn-group-sm m-1">
                    <button type="button" class="btn btn-danger bmd-btn-fab" data-toggle="tooltip" data-placement="bottom" title="Cancelar edición" id="btn_CancelarEditarInformacionEncuesta">
                        <i class="material-icons">clear</i>
                    </button>
                </span>
            </div>
        </div>
        <div id="div_informacion_Encuesta" class="text-center" style="cursor:pointer">
            <h1 class="mt-1 text-center editarInformacion" id="h1_NombreEncuesta">@Model.Nombre</h1>
            <h4 class="text-center editarInformacion">
                <span id="span_CarreraDescripcion">@Model.IdCarreraNavigation.IdUnidadAcademicaNavigation.Nombre, @Model.IdCarreraNavigation.Nombre, @Model.IdCarreraNavigation.IdUnidadAcademicaNavigation.IdCampusNavigation.Nombre</span>
            </h4>
            <button class="btn btn-link" data-toggle="collapse" data-target="#div_descripcion">Mostrar descripción</button>
            <div class="collapse" id="div_descripcion">
                <div class="card card-body text-left">
                    @Html.Raw(Model.Descripcion)
                </div>
            </div>
        </div>
        <hr />
        <h2 class="text-center">Secciones</h2>
        <table class="table table-hover" id="table_EncuestasSecciones">
            <thead>
                <tr>
                    <th style="width:40px"></th>
                    <th>Nombre de la sección</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.EncuestaSecciones.Any())
                {
                    @foreach (var seccion in Model.EncuestaSecciones.OrderBy(x => x.Orden))
                    {
                        <tr class="fila_Seccion">
                            <td class="ordenador" style="cursor:pointer;width:40px">
                                <i class="material-icons text-secondary">
                                    drag_indicator
                                </i>
                                <input hidden value="@seccion.Id" class="txt_SeccionId" />
                            </td>
                            <td style="cursor:pointer" class="td_Seccion">
                                <div class="row div_EditarSeccionNombre" style="display:none;margin-top:-10px">
                                    <div class="col-8 ml-3">
                                        <input type="text" class="form-control txt_SeccionNombre" value="@seccion.Nombre" autocomplete="off" />
                                    </div>
                                    <div class="col-2 form-inline text-center">
                                        <span class="btn-group-sm m-1">
                                            <button type="button" class="btn btn-success bmd-btn-fab btn_GuardarSeccionNombre" data-id="@seccion.Id" data-toggle="tooltip" data-placement="bottom" title="Guardar nombre de sección">
                                                <i class="material-icons">check</i>
                                            </button>
                                        </span>
                                        <span class="btn-group-sm m-1">
                                            <button type="button" class="btn btn-danger bmd-btn-fab btn_CancelarEditarSeccionNombre" data-toggle="tooltip" data-placement="bottom" title="Cancelar edición de nombre">
                                                <i class="material-icons">clear</i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <span class="mt-1 span_SeccionNombre h6">
                                    <span class="ml-3">@seccion.Nombre</span>
                                    <i class="material-icons text-primary md-18" style="display:none" title="Editar nombre de sección">edit</i>
                                </span>
                            </td>
                            <td style="width:40px">
                                <span class="btn-group-sm">
                                    <button class="btn btn-info bmd-btn-fab btn_Editar" data-id="@seccion.Id" data-toggle="tooltip" data-placement="bottom" title="Editar sección">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </span>
                            </td>
                            <td style="width:40px">
                                <span class="btn-group-sm">
                                    <button class="btn btn-danger bmd-btn-fab btn_Eliminar" data-id="@seccion.Id" data-nombre="@seccion.Nombre" data-toggle="tooltip" data-placement="bottom" title="Eliminar sección">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </span>
                            </td>
                        </tr>

                    }
                }
                else
                {
                    <tr class="fila_SinSecciones">
                        <td colspan="5" class="text-center">
                            <h6>No se han encontrado secciones</h6>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<partial name="~/Views/Encuestas/PartialViews/_ModalSeccionEliminar.cshtml" />
<partial name="~/Views/Encuestas/PartialViews/_ModalSeccionCrear.cshtml" model="new EncuestaSeccionViewModel()" />


<script type="text/javascript" src="~/js/Encuestas/Editar.js"></script>
<script type="text/javascript">
    var enum_EstatusEncuesta=@(EnumHelper.EnumToString<EstatusEncuestaId>())
</script>