@using EncuestasUABC.Models.ViewModels;
@using EncuestasUABC.Enumerador
@model EncuestaSeccionViewModel
@{
    ViewData["Title"] = Model.EncuestaIdNavigation.Nombre + " (Vista Previa)";
    Layout = "~/Views/Shared/_LayoutEncuesta.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="text-center">
            <h1 class="mt-1 text-center">@Model.Nombre</h1>
            <h5>
                Encuesta: @Model.EncuestaIdNavigation.Nombre
            </h5>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            @foreach (var pregunta in Model.EncuestaPreguntas)
            {
                <div class="col-12 mt-4 mb-2">
                    <label class="h4">
                        <span>@pregunta.Orden</span>.-
                        @pregunta.Descripcion
                    </label>
                    <div class="form-group pl-5">
                        @if (pregunta.TipoPreguntaId == (int)TipoPreguntaId.Abierta)
                        {
                            <textarea class="form-control" rows="2" placeholder="Respuesta"></textarea>
                        }
                        else if (pregunta.TipoPreguntaId == (int)TipoPreguntaId.Multiple)
                        {
                            <div class="row d-flex justify-content-sm-between justify-content-lg-start">
                                @foreach (var opcion in pregunta.Opciones)
                                {
                                    <div class="col-sm-6 col-md-4 col-lg-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> @opcion.Descripcion
                                        </label>
                                    </div>
                                }
                            </div>
                        }
                        else if (pregunta.TipoPreguntaId == (int)TipoPreguntaId.UnicaOpcion)
                        {
                            <div class="row d-flex justify-content-sm-between justify-content-lg-start">
                                @foreach (var opcion in pregunta.Opciones)
                                {
                                    <div class="col-sm-6  col-md-4 col-lg-2">
                                        <label class="radio-inline">
                                            <input type="radio" name="radio_@pregunta.Id"> @opcion.Descripcion
                                        </label>
                                    </div>
                                }
                            </div>
                        }
                        else if (pregunta.TipoPreguntaId == (int)TipoPreguntaId.SelectList)
                        {
                            <select class="form-control">
                                <option value="">Seleccionar</option>
                                @foreach (var opcion in pregunta.Opciones)
                                {
                                    <option value="@opcion.Id">@opcion.Descripcion</option>
                                }
                            </select>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="card-footer">
        <div class="row d-flex justify-content-between">
            <div class="col-2">
                @if (ViewBag.OrdenAnterior != 0)
                {
                    <button class="btn btn-primary btn-raised">Regresar</button>
                }
            </div>
            <div class="col-2 text-right">
                @if (ViewBag.OrdenSiguiente != 0)
                {
                    <a href="@Url.Action("VistaPrevia","Encuestas",new { id = Model.Id, orden = ViewBag.OrdenSiguiente})" class="btn btn-primary btn-raised">Siguiente</a>
                }
            </div>
        </div>
    </div>
</div>