@using EncuestasUABC.ViewModels;
@using EncuestasUABC.Enumerador;
@using EncuestasUABC.Utilidades;
@using EncuestasUABC.Extensions;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{UsuarioInfoViewModel usuarioInfo = HttpContextAccessor.HttpContext.GetUsuarioInfoViewModel(); }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Encuestas UABC</title>

    <!-- Material Design -->
    <link rel="stylesheet" href="~/lib/material-design/css/material-design.css" />
    <link rel="stylesheet" href="~/lib/material-design/css/material-icons.css" />

    <!--Plugins Styles-->
    <link rel="stylesheet" href="~/lib/DataTables/datatables.bootstrap4.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />

    <!--Site style-->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Menu.css" />

    <!--Jquery-->
    <script type="text/javascript" src="~/lib/jquery/jquery.js"></script>
   
</head>
<body class="fixed-navbar">
    @{var url = HttpContextAccessor.HttpContext.Request.Scheme + "://" + HttpContextAccessor.HttpContext.Request.Host + HttpContextAccessor.HttpContext.Request.PathBase; }
    <script type="text/javascript">
            window.urlproyecto='@url';
    </script>
    <!--Double navigation-->
    <header>
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-primary menu-principal-nav" style="position:fixed;width:100%;background:#ddeff9">
            <div class="form-row w-100 d-flex justify-content-between">
                <div class="col-2">
                    <button type="button" class="btn btn-light bmd-btn-fab float-left text-primary btn_Menu btn_MenuAbrir">
                        <i class="material-icons md-24">menu</i>
                    </button>
                </div>
                <div class="col-8 d-flex justify-content-end">
                    <ul class="nav nav-pills">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons md-48 text-light float-left mr-3" style="margin-top:-15px">account_circle</i>
                                @usuarioInfo.NombreCompleto
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a asp-action="Perfil" asp-controller="Account" class="dropdown-item">
                                    <i class="material-icons float-left mr-2">person</i>
                                    Perfil
                                </a>
                                <a asp-action="Ayuda" asp-controller="Home" class="dropdown-item">
                                    <i class="material-icons float-left mr-2">support</i>
                                    Ayuda
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="##" onclick="$('#form_Logout').submit()">
                                    <i class="material-icons float-left mr-2">exit_to_app</i>
                                    Cerrar Sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="menu-principal">
            <div class="menu-opciones p-0 bg-light shadow">
                <nav class="navbar navbar-light">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-primary mt-2 text-center">
                                <img src="~/img/EncuestasUABCLogo.svg" style="width:40px" />
                                Encuestas UABC
                            </h4>
                        </div>
                        <div class="col-12">
                            <hr />
                        </div>
                        <div class="col-3">
                            <i class="material-icons md-74 text-primary">account_circle</i>
                        </div>
                        <div class="col-9 mt-2">
                            <h5>@usuarioInfo.NombreCompleto</h5>
                            <p>@usuarioInfo.Rol</p>
                        </div>
                    </div>
                </nav>
                <div class="row">
                    <div class="col-12">
                        <ul class="opciones">
                            @foreach (var permiso in usuarioInfo.Permisos)
                            {
                                <li>
                                    @if (!permiso.PermisosHijos.Any())
                                    {

                                        <a class="opciones-item btn btn-primary text-left p-3 pl-4 m-0" href="@Url.Action(permiso.Action,permiso.Controller)">
                                            <i class="material-icons float-left">@permiso.Icono</i>
                                            <span class="pl-3" style="vertical-align:middle">@permiso.Descripcion</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="opciones-item btn btn-primary text-left p-3 pl-4">
                                            <i class="material-icons float-left">@permiso.Icono</i>
                                            <span class="pl-3">@permiso.Descripcion</span>
                                            <i class="material-icons float-right">keyboard_arrow_down</i>
                                        </a>
                                        <ul style="display:none">
                                            @foreach (var permisoHijo in permiso.PermisosHijos)
                                            {
                                                <li>
                                                    <a class="sub-opciones-item btn btn-secondary text-left p-3 pl-4" href="@Url.Action(permisoHijo.Action,permisoHijo.Controller)">
                                                        <i class="material-icons float-left">@permisoHijo.Icono</i>
                                                        <span class="pl-3">@permisoHijo.Descripcion</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                        <form asp-action="Logout" asp-controller="Account" id="form_Logout">
                        </form>
                    </div>
                    <div class="col-12">
                        <hr />
                    </div>
                    <div class="col-12">
                        <ul class="opciones">
                            <li>
                                <a class="opciones-item btn btn-primary text-left p-3 pl-4 m-0" href="##" onclick="$('#form_Logout').submit()">
                                    <i class="material-icons float-left clearfix">exit_to_app</i>
                                    <span class="pl-3">Cerrar Sesión</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <button type="button" class="btn btn-primary bmd-btn-fab text-light btn_Menu btn_MenuCerrar">
                            <i class="material-icons">menu_open</i>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
        <div class="fondo-negro" style="display:none"></div>
    </header>
    <!--/.Double navigation-->
    <!--Main layout-->
    <main style="padding-top:110px;background:#f3f6fa">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
    <!--/Main layout-->
    <!--Footer-->
    <footer class="page-footer text-center text-md-left pt-4">
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            <div class="container-fluid">
                © @DateTime.Now.Year Copyright: Encuestas UABC
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->

    <!--PLUGINS-->
    <script type="text/javascript" src="~/lib/DataTables/datatables.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/datatables.bootstrap4.js"></script>
    <script type="text/javascript" src="~/lib/popper/umd/popper.js"></script>
    <script type="text/javascript" src="~/lib/material-design/js/material-design.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-notify/bootstrap-notify.js"></script>
    <script type="text/javascript" src="~/lib/cookiejs/cookiejs.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/jquery.validate.min.js"></script>

    <!--JS Site-->
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/Menu.js"></script>

    <!--JS Material Design-->
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>

    <!--Vista de Alertas de la página-->
    <partial name="~/Views/Shared/_Alerts.cshtml" />

    <!--Enumerador para obtener los tipos de alerta en toda la página-->
    <script type="text/javascript">
        var enum_MessageAlertType = @(EnumHelper.EnumToString<MessageAlertType>());
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
