@model EncuestasUABC.ViewModels.UsuarioSessionInfoViewModel
@{
    Layout = null;
}

<!-- Sidebar -->
<div class="bg-secondary" id="sidebar-wrapper">
    <div class="w-100 pt-4 bg-primary" style="height:130px">
        <a asp-action="Index" asp-controller="Home">
            <h4 class="text-light mt-2 text-center">
                <img src="~/img/IconoEncuestasUABC.svg" style="width:40px" />
                Encuestas UABC
            </h4>
        </a>
    </div>
    <div class="list-group list-group-flush bg-secondary">
        <div class="row">
            <div class="col-12 text-center">
                <i class="material-icons md-90 text-light bg-primary" style="margin-top:-50px;border-radius:50%!important">account_circle</i>
            </div>
            <div class="col-12 text-center">
                <h5 class="text-light"> @Model.NombreCompleto</h5>
                <ul class="nav nav-pills d-flex justify-content-center" style="margin-top:-20px">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light text-center" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            @Model.Rol
                        </a>
                        <div class="dropdown-menu dropdown-menu-right"  style="margin-top:-20px;width:200px">
                            <a asp-action="Perfil" asp-controller="Account" class="dropdown-item page-loader">
                                <i class="material-icons float-left mr-2">person</i>
                                Perfil
                            </a>
                            <a asp-action="Ayuda" asp-controller="Home" class="dropdown-item page-loader">
                                <i class="material-icons float-left mr-2">support</i>
                                Ayuda
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="##" onclick="$('#form_Logout').submit();">
                                <i class="material-icons float-left mr-2">exit_to_app</i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
           
            <div class="col-12">
                <ul class="opciones">
                    @foreach (var permiso in Model.PermisosMenu)
                    {
                        <li>
                            @if (!permiso.PermisosHijos.Any())
                            {

                                <a class="opciones-item btn btn-primary text-left p-3 pl-4 m-0 page-loader" href="@Url.Action(permiso.Action,permiso.Controller)">
                                    <i class="material-icons float-left">@permiso.Icono</i>
                                    <span class="pl-3" style="vertical-align:middle">@permiso.Descripcion</span>
                                </a>
                            }
                            else
                            {
                                <button class="opciones-item btn btn-primary text-left p-3 pl-4">
                                    <i class="material-icons float-left">@permiso.Icono</i>
                                    <span class="pl-3">@permiso.Descripcion</span>
                                    <i class="material-icons float-right">keyboard_arrow_down</i>
                                </button>
                                <ul style="display:none">
                                    @foreach (var permisoHijo in permiso.PermisosHijos)
                                    {
                                        <li>
                                            <a class="sub-opciones-item btn btn-secondary text-left p-3 pl-4 page-loader" href="@Url.Action(permisoHijo.Action,permisoHijo.Controller)">
                                                <i class="material-icons float-left">@permisoHijo.Icono</i>
                                                <span class="pl-3">@permisoHijo.Descripcion</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
                <form asp-action="Logout" asp-controller="Account" id="form_Logout">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /#sidebar-wrapper -->