@using EncuestasUABC.ViewModels;
@model ApplicationUserViewModel
@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card vh-100">
    <div class="card-header">
        <h1 class="mt-md-2">@ViewData["Title"]</h1>
    </div>
    <div class="card-body">
        <div class="ibox">
            <div class="ibox-body">
                <div class="row">
                    <div class="col-12 col-lg-4 p-5">
                        <div class="ibox">
                            <div class="ibox-body text-center">
                                <div class="m-t-20">
                                    <i class="material-icons md-128 text-primary">account_circle</i>
                                </div>
                                <h5 class="font-strong m-b-10 m-t-10">@Model.Nombre @Model.ApellidoPaterno @Model.ApellidoMaterno</h5>
                                <div class="m-b-20 text-muted">@Model.Rol</div>
                            </div>
                        </div>
                        <div class="ibox">
                            <div class="ibox-body">
                                <h4 class="text-center">
                                    @Model.Email
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="ibox">
                            <div class="ibox-body">
                                <h4>Información</h4>
                                <hr />
                                <form asp-action="Perfil">
                                    <input hidden asp-for="Email" />
                                    <input hidden asp-for="Rol" />
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="Nombre" class="bmd-label-floating"></label>
                                                <input asp-for="Nombre" class="form-control" autocomplete="off">
                                                <span asp-validation-for="Nombre"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="ApellidoPaterno" class="bmd-label-floating"></label>
                                                <input asp-for="ApellidoPaterno" class="form-control">
                                                <span asp-validation-for="ApellidoPaterno"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="ApellidoMaterno" class="bmd-label-floating"></label>
                                                <input asp-for="ApellidoMaterno" class="form-control" autocomplete="off">
                                                <span asp-validation-for="ApellidoMaterno"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-center">
                                            <button type="submit" class="btn btn-raised btn-primary d-flex align-content-between">
                                                <i class="material-icons mr-2" style="margin-top:-3px">save</i> Guardar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/Usuarios/FormUsuario.js" defer></script>

