@model List<PermisoViewModel>
@{
    ViewData["Title"] = "Permisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<PermisoViewModel> permisosUsuario = (List<PermisoViewModel>)ViewBag.PermisosUsuario;
}
<div class="card">
    <form asp-action="Permisos" id="form_Usuario">
        <div class="card-header">
            <div class="row d-flex justify-content-between">
                <div class="col-12 col-md-8 d-flex justify-content-start">
                    <span class="btn-group-sm mt-1">
                        <a asp-action="AddOrEdit" asp-route-email="@ViewBag.Email" class="btn bmd-btn-fab text-primary page-loader" data-toggle="tooltip" data-placement="bottom" title="Regresar">
                            <i class="material-icons md-36">navigate_before</i>
                        </a>
                    </span>
                    <h1 class="ml-1">@ViewData["Title"]</h1>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-center justify-content-lg-end">

                </div>
            </div>
        </div>
        <div class="card-body">
            <input hidden name="email" value="@ViewBag.Email" />
            @foreach (var permiso in Model)
            {
                <div>
                    <div class="card">
                        <div class="card-header">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="idPermiso" value="@permiso.Id" checked="@permisosUsuario.Any(x=>x.Id==permiso.Id)">@permiso.Descripcion
                                    @*<span data-toggle="collapse" data-target="#PermisoCollapse-@permiso.Id" aria-expanded="true" aria-controls="PermisoCollapse-@permiso.Id"> </span>*@
                                </label>
                            </div>

                        </div>
                        <div id="PermisoCollapse-@permiso.Id" class="collapse show">
                            <div class="card-body">
                                <ul style="list-style:none" class="mb-0">
                                    @foreach (var permisoHijo in permiso.PermisosHijos)
                                    {
                                        <li>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="idPermiso" value="@permisoHijo.Id" checked="@permisosUsuario.Any(x=>x.Id==permisoHijo.Id)"> @permisoHijo.Descripcion
                                                </label>
                                            </div>
                                            <ul style="list-style:none" class="mb-0">
                                                @foreach (var acciones in permisoHijo.PermisosHijos)
                                                {
                                                    <li>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="idPermiso" value="@acciones.Id" checked="@permisosUsuario.Any(x=>x.Id==acciones.Id)"> @acciones.Descripcion
                                                            </label>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary btn-raised" id="btn_Guardar">Guardar</button>
        </div>
    </form>
</div>